.text-body-1
  font-size: 10px
  line-height: 14px

.text-subtitle-1
  font-size: 20px
  line-height: 24px
  font-weight: 700

.clear-link,
.clear-link:hover
  color: currentColor

.rounded
  border-radius: $base-border-radius

.last-mr-0
  &:last-child
    margin-right: 0

.last-mb-0
  &:last-child
    margin-bottom: 0

.menu-list
  $parent: &

  &__link
    display: flex
    align-items: center
    text-decoration: none
    font-weight: 600
    color: currentColor

  &__icon
    color: $color-primary
    margin-right: 15px

  &--hovered
    #{$parent}__link
      &:hover
        background-color: $color-primary
        color: $color-white

        #{$parent}__icon
          color: $color-white

@include display()
@include alignment()
@include colors()
@include spaces()
@include orders()
@include font-size()

@each $bp, $size in $breakpoints
  @media (min-width: $size)
    @include display($bp)
    @include alignment($bp)
    @include spaces($bp)
    @include orders($bp)
    @include font-size($bp)
