*
  box-sizing: border-box

body
    margin: 0
    font-family: $base-font-family
    font-size: $base-font-size
    line-height: $base-line-height
    color: $color-dark

input,
textarea,
button
    font-family: $base-font-family
