@each $margin in $margins
  .m-a-#{$margin}
    margin: #{$margin}px
  .m-t-#{$margin}
    margin-top: #{$margin}px
  .m-b-#{$margin}
    margin-bottom: #{$margin}px
  .m-l-#{$margin}
    margin-left: #{$margin}px
  .m-r-#{$margin}
    margin-right: #{$margin}px
  .m-v-#{$margin}
    margin-top: #{$margin}px
    margin-bottom: #{$margin}px
  .m-h-#{$margin}
    margin-left: #{$margin}px
    margin-right: #{$margin}px

@each $padding in $paddings
  .p-a-#{$padding}
    padding: #{$padding}px
  .p-t-#{$padding}
    padding-top: #{$padding}px
  .p-b-#{$padding}
    padding-bottom: #{$padding}px
  .p-l-#{$padding}
    padding-left: #{$padding}px
  .p-r-#{$padding}
    padding-right: #{$padding}px
  .p-v-#{$padding}
    padding-top: #{$padding}px
    padding-bottom: #{$padding}px
  .p-h-#{$padding}
    padding-left: #{$padding}px
    padding-right: #{$padding}px

@media (min-width: $breakpoint-sm)
  @each $padding in $paddings
    .p-sm-a-#{$padding}
      padding: #{$padding}px
    .p-sm-t-#{$padding}
      padding-top: #{$padding}px
    .p-sm-b-#{$padding}
      padding-bottom: #{$padding}px
    .p-sm-l-#{$padding}
      padding-left: #{$padding}px
    .p-sm-r-#{$padding}
      padding-right: #{$padding}px
    .p-sm-v-#{$padding}
      padding-top: #{$padding}px
      padding-bottom: #{$padding}px
    .p-sm-h-#{$padding}
      padding-left: #{$padding}px
      padding-right: #{$padding}px

  @each $margin in $margins
    .m-sm-a-#{$margin}
      margin: #{$margin}px
    .m-sm-t-#{$margin}
      margin-top: #{$margin}px
    .m-sm-b-#{$margin}
      margin-bottom: #{$margin}px
    .m-sm-l-#{$margin}
      margin-left: #{$margin}px
    .m-sm-r-#{$margin}
      margin-right: #{$margin}px
    .m-sm-v-#{$margin}
      margin-top: #{$margin}px
      margin-bottom: #{$margin}px
    .m-sm-h-#{$margin}
      margin-left: #{$margin}px
      margin-right: #{$margin}px

@media (min-width: $breakpoint-md)
  @each $padding in $paddings
    .p-md-a-#{$padding}
      padding: #{$padding}px
    .p-md-t-#{$padding}
      padding-top: #{$padding}px
    .p-md-b-#{$padding}
      padding-bottom: #{$padding}px
    .p-md-l-#{$padding}
      padding-left: #{$padding}px
    .p-md-r-#{$padding}
      padding-right: #{$padding}px
    .p-md-v-#{$padding}
      padding-top: #{$padding}px
      padding-bottom: #{$padding}px
    .p-md-h-#{$padding}
      padding-left: #{$padding}px
      padding-right: #{$padding}px

  @each $margin in $margins
    .m-md-a-#{$margin}
      margin: #{$margin}px
    .m-md-t-#{$margin}
      margin-top: #{$margin}px
    .m-md-b-#{$margin}
      margin-bottom: #{$margin}px
    .m-md-l-#{$margin}
      margin-left: #{$margin}px
    .m-md-r-#{$margin}
      margin-right: #{$margin}px
    .m-md-v-#{$margin}
      margin-top: #{$margin}px
      margin-bottom: #{$margin}px
    .m-md-h-#{$margin}
      margin-left: #{$margin}px
      margin-right: #{$margin}px

@media (min-width: $breakpoint-lg)
  @each $padding in $paddings
    .p-lg-a-#{$padding}
      padding: #{$padding}px
    .p-lg-t-#{$padding}
      padding-top: #{$padding}px
    .p-lg-b-#{$padding}
      padding-bottom: #{$padding}px
    .p-lg-l-#{$padding}
      padding-left: #{$padding}px
    .p-lg-r-#{$padding}
      padding-right: #{$padding}px
    .p-lg-v-#{$padding}
      padding-top: #{$padding}px
      padding-bottom: #{$padding}px
    .p-lg-h-#{$padding}
      padding-left: #{$padding}px
      padding-right: #{$padding}px

  @each $margin in $margins
    .m-lg-a-#{$margin}
      margin: #{$margin}px
    .m-lg-t-#{$margin}
      margin-top: #{$margin}px
    .m-lg-b-#{$margin}
      margin-bottom: #{$margin}px
    .m-lg-l-#{$margin}
      margin-left: #{$margin}px
    .m-lg-r-#{$margin}
      margin-right: #{$margin}px
    .m-lg-v-#{$margin}
      margin-top: #{$margin}px
      margin-bottom: #{$margin}px
    .m-lg-h-#{$margin}
      margin-left: #{$margin}px
      margin-right: #{$margin}px
